/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.about-me-section {
  display: flex;
  max-width: 800px;
}

.about-me-container {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
}

.project {
  max-width: 266px;
}

.project-middle {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.project-icons {
  display: flex;
}

.project p {
  padding: 15px;
}

.project {
  border-style: solid;
}

.projects-section-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.projects-section {
  display: flex;
  flex-flow: column;
  max-width: 800px;
}

.intro {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 15px;
}

.about-me-section .photo {
  border-style: solid;
}

.about-me-section .intro {
  border-style: solid;
}

.about-me-section .socials {
  justify-content: flex-end;
}

.socials {
  display: flex;
}

.socials img {
  border-style: solid;
}